.container {
    padding: 1rem;
}

.float-end {
    float: right;
    display: block;
    margin: 0%;
    padding: 0%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
   
}

.table {
    margin-top: 1rem;
    width: 100%;
}

.table.borderless td,
.table.borderless th {
    border: none;
}


.table .key {
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 1rem;
    text-align: right; /* Align keys to the right */
    min-width: 200px;
    vertical-align: top;
}

.table .value {
    font-size: 1.1rem;
    padding-left: 1rem;
    text-align: left; /* Align values to the left */
}

.classification-item {
    //border-bottom: 1px solid #dee2e6; /* Horizontal line color matching the outer table border */
    padding: 1px 0;
    text-align: center;
    font-size: 1.2rem;
}

.classification-item:last-child {
    border-bottom: none; /* Remove the bottom border for the last item */
}

.custom-label-popup {
    margin-top: 10px;
}

.custom-label-popup .form-control {
    margin-bottom: 5px;
}

.btn-lg {
    font-size: 1.1rem;
    padding: 0.75rem 1.25rem;
}

.thumb-dirty-add.thumb-icons {
    color: green !important;
    //border: 1px solid green !important;
    //border-radius: 50%;
    padding: 2px;
}

.thumb-dirty-remove.thumb-icons {
    color: red !important;
    //border: 1px solid red !important;
    //border-radius: 50%;
    padding: 2px;
}

.thumb-dirty-none, .thumb-icons {
    color: lightgray !important;
    //border: 1px solid grey !important;
    //border-radius: 50%;
    padding: 2px !important;
}

.text-dirty-add {
    color: green !important;
    font-weight: 700;
}

.btn-xs {
    margin-left: 5px !important;
    font-size: 10px !important;
    --bs-btn-padding-x: 5px !important;
    --bs-btn-padding-y: 0px !important;
}

.section-separator {
    border: none;
    border-top: 2px solid #808080;
    margin: 10px 0;
}

.horizontal-spacer {
    display: inline-block;
    width: 15px; /* Width of the spacer */
}

/////////////// cascading menu

