<div class="container">
    <div class="text-right">
        <p *ngIf="!isTenantUser" class="float-end">You are viewing <strong>{{tenant.name}}</strong> data. <a [routerLink]="['']">Click here to change</a></p>
    </div>

    <div class="p-3 text-center">
        <h1>Updates Needing Review</h1>
        <div *ngIf="loading; else updateForm">
            <img src="../../assets/images/logo/loading.gif" alt="">
            <div class="loading">Loading...</div>
        </div>
        <ng-template #updateForm>
            <h4>{{eventType}} ({{numberOfUpdates}})</h4>
            <hr class="section-separator">
            <span *ngIf="currentUpdate === null">No updates to review.</span>
            <div *ngIf="currentUpdate">
                <table class="table borderless">
                    <tr>
                        <td class="key">Case ID:</td>
                        <td class="value">{{currentUpdate.caseId}}</td>
                    </tr>
                    <tr>
                        <td class="key">Date:</td>
                        <td class="value">{{currentUpdate.timestamp | date:'MM/dd/yyyy'}}</td>
                    </tr>
                    <tr>
                        <td class="key">Posted By:</td>
                        <td class="value">{{currentUpdate.postedBy}}</td>
                    </tr>
                    <tr>
                        <td class="key">Update:</td>
                        <td class="value">{{currentUpdate.update}}</td>
                    </tr>
                </table>
                <div class="mt-4">
                    <hr class="section-separator">
                    <h3>Predicted Labels</h3>
                    <div *ngFor="let classification of currentUpdate.classifications" class="classification-item">
                        <span *ngIf="!classification.userChosen">
                            {{classification.fullName}}
                            @if(getLabelHelpText(classification.classificationLabelId) ){
                            <button class="btn" style="padding:2px"
                                    placement="top"
                                    ngbPopover="{{getLabelHelpText(classification.classificationLabelId)}}"
                                    popoverTitle="{{getLabelHelpTitle(classification.classificationLabelId)}}">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </button>
                            }
                            <span style="font-style:italic">(Confidence Score: {{(classification.probability * 100).toFixed(0)}}%)</span>
                            <span class="horizontal-spacer"></span>
                            <button class="btn btn-lg thumb-icons" (click)="approve(currentUpdate, classification.id)"
                                    [ngClass]="{'thumb-dirty-none': classification.userReviewState === 0, 'thumb-dirty-add': classification.userReviewState === 1}" style="padding:2px;">
                                <i class="lpx-icon fas fa-thumbs-up" style="padding: 2px"></i>
                            </button>
                            <span class="horizontal-spacer"></span>
                            <button class="btn btn-lg thumb-icons" (click)="reject(currentUpdate, classification.id)"
                                    [ngClass]="{'thumb-dirty-none': classification.userReviewState === 0, 'thumb-dirty-remove': classification.userReviewState === -1}" style="padding:2px;">
                                <i class="lpx-icon fas fa-thumbs-down" style="padding: 2px"></i>
                            </button>
                        </span>
                    </div>
                    <hr class="section-separator">
                    <h3>Add Missing Labels</h3>
                    <div *ngFor="let labelId of updateDirtyLabels(currentUpdate)">
                        <span class="text-dirty-add">{{getLabelName(labelId)}}</span>
                        @if(getLabelHelpText(labelId) ){
                        <button class="btn" style="padding:2px"
                                placement="top"
                                ngbPopover="{{getLabelHelpText(labelId)}}"
                                popoverTitle="{{getLabelHelpTitle(labelId)}}">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </button>
                        }
                        <button (click)="deleteLabel(currentUpdate, labelId)" class="btn btn-xs btn-danger btn-remove">Delete</button>
                    </div>
                    <div>
                        <input type="text"
                               [ngbTypeahead]="search"
                               (selectItem)="addLabel($event, currentUpdate)"
                               [resultFormatter]="searchBoxformatter"
                               [(ngModel)]="searchLabelSelectionModel"
                               [inputFormatter]="searchBoxformatter"
                               (focus)="focus$.next($any($event).target.value)"
                               (click)="click$.next($any($event).target.value)"
                               #instance="ngbTypeahead"
                               placeholder="Search for label..." />

                        <app-label-menu [menuItems]="labelsTree" (labelSelected)="labelClicked($event)"></app-label-menu>
                       
                    </div>
                    <div>
                        <button class="btn btn-link pt-1" (click)="openCustomLabelPopup()">
                            {{ proposedLabels && proposedLabels.length > 0 ? 'Edit Proposed Label : ' : 'Add Proposed Label' }}
                        </button>
                        <span *ngIf="!showCustomLabelInput">{{proposedLabels}}</span>
                        <div *ngIf="showCustomLabelInput" class="custom-label-popup">
                            <table border="0" align="center">
                                <tr>
                                    <td>
                                        <input type="text" [(ngModel)]="proposedLabels" placeholder="Enter custom label" class="form-control" width="300" />
                                    </td>
                                    <td>
                                        <button class="btn btn-link" (click)="saveCustomLabel()">Save</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr class="section-separator">
                <button class="btn btn-primary" (click)="saveUpdateReview(currentUpdate)" [disabled]="!canSave">Save</button>
            </div>
        </ng-template>
    </div>
</div>
