
.fixspace{
  text-align:left;
  position:static;
}

.horizontal-spacer
{
  display: inline;
}
.thumb-dirty-add.thumb-icons {
    color: green !important;
   
    padding: 2px;
}

.thumb-dirty-remove.thumb-icons {
    color: red !important;
    padding: 2px;
}
.float-end {
  float: right;
  display: block;
  margin: 0%;
  padding: 0%;
}
.btn-style {
  font-weight:normal;
  text-decoration: underline;
   font-size: 0.875rem;
   color: rgb(53 93 255);
}
.thumb-dirty-none, .thumb-icons {
    color: lightgray !important;
    padding: 2px !important;
}


.btn-xs {
  margin-left: 5px !important;
  font-size: 10px !important;
  --bs-btn-padding-x: 5px !important;
  --bs-btn-padding-y: 0px !important;
}

.text-dirty-remove + .btn-remove {
  display: none;
}

.text-dirty-add {
  color: green !important;
  font-weight: 700;
}

.fa-10 {
  font-size: 10px;
}

th, td {
  text-align: left;
  font-size: 14px;
}

th {
  color: black !important;
  font-size: 13px !important;
  font-weight: 700 !important;
}
tbody tr{
  cursor: pointer;
}

.classification-item {
    border-bottom: 1px solid #dee2e6; 
    padding: 5px 0;
}

.classification-item:last-child {
    border-bottom: none; 
}

.custom-label-popup {
    margin-top: 10px;
}

.custom-label-popup .form-control {
    margin-bottom: 5px;
}


.horizontal-spacer {
    display: inline-block;
    width: 5px; 
}