
<button mat-button [matMenuTriggerFor]="mainMenu" class="btnlabel">
        <!--style="width:20px; height:20px; padding:0; margin:0; min-width:0; line-height:1"-->
        
    <i class="fa fa-bars" style="width:20px;margin:0px"></i>
</button>

<mat-menu #mainMenu="matMenu">
    <ng-container *ngFor="let item of menuItems">
        <ng-container *ngIf="item.childLabels && item.childLabels.length > 0; else noSubMenu1">
            <button mat-menu-item [matMenuTriggerFor]="submenu1">{{ item.name }}</button>
            <mat-menu #submenu1="matMenu">
                <ng-container *ngFor="let child1 of item.childLabels">
                    <ng-container *ngIf="child1.childLabels && child1.childLabels.length > 0; else noSubMenu2">
                        <button mat-menu-item [matMenuTriggerFor]="submenu2">{{ child1.name }}</button>
                        <mat-menu #submenu2="matMenu">
                            <ng-container *ngFor="let child2 of child1.childLabels">
                                <ng-container *ngIf="child2.childLabels && child2.childLabels.length > 0; else noSubMenu3">
                                    <button mat-menu-item [matMenuTriggerFor]="submenu3">{{ child2.name }}</button>
                                    <mat-menu #submenu3="matMenu">
                                        <ng-container *ngFor="let child3 of child2.childLabels">
                                            <ng-container *ngIf="child3.childLabels && child3.childLabels.length > 0; else noSubMenu4">
                                                <button mat-menu-item [matMenuTriggerFor]="submenu4">{{ child3.name }}</button>
                                                <mat-menu #submenu4="matMenu">
                                                    <button mat-menu-item *ngFor="let child4 of child3.childLabels" (click)="labelClicked(child4)">{{ child4.name }}</button>
                                                </mat-menu>
                                            </ng-container>
                                            <ng-template #noSubMenu4>
                                                <button mat-menu-item (click)="labelClicked(child3)">{{ child3.name }}</button>
                                            </ng-template>
                                        </ng-container>
                                    </mat-menu>
                                </ng-container>
                                <ng-template #noSubMenu3>
                                    <button mat-menu-item (click)="labelClicked(child2)">{{ child2.name }}</button>
                                </ng-template>
                            </ng-container>
                        </mat-menu>
                    </ng-container>
                    <ng-template #noSubMenu2>
                        <button mat-menu-item (click)="labelClicked(child1)">{{ child1.name }}</button>
                    </ng-template>
                </ng-container>
            </mat-menu>
        </ng-container>
        <ng-template #noSubMenu1>
            <button mat-menu-item (click)="labelClicked(item)">{{ item.name }}</button>
        </ng-template>
    </ng-container>
</mat-menu>